.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

.select {
    padding: 10px;
    margin-top: 15px;
    -webkit-appearance: none;
    font-size: 14px;
    color: var(--tg-theme-text-color);
    background: url(/src/components/productlist/arrow.png) no-repeat 0 0;
    background-size: 10px;
    background-position-x: 97%;
    background-position-y: center;
    border-color: rgb(145, 145, 145);
    
    
}

.option {
    color: rgb(15, 15, 15);
}

h3 {
    margin-top: 10px;
}