.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

.select {
    padding: 10px;
    margin-top: 15px;
    -webkit-appearance: none;
    font-size: 14px;
    color: rgb(61, 61, 61);
    background: url(/src/components/productlist/arrow.png) no-repeat 0 0;
    background-size: 10px;
    
}