.product {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 50px;
}

.img {
    width: 100%;
    background: var(--tg-theme-bg-color);
    height: 50px;
    margin: 0 auto;
}

.img img {
    height: 50px;
}

.description {
    font-size: 0.8em;
}

.add-btn {
    width: 100%;
}