.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 130px;
}

.img {
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--tg-theme-bg-color);
    height: 100px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.img img {
    height: 100px;
}

.description {
    font-size: 0.8em;
}

.add-btn {
    width: 100%;
    height: 30px;
    font-size: 11px;
    font-weight: 400;
    background-color: rgb(9, 109, 9);
    color: var(--tg-theme-text-color);
    border-radius: 6px;
}

.add-btn:active {
    background-color: rgb(13, 126, 13);
    transform: translateY(1px);
}

.price-and-title {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 12px;
    margin-bottom: 5px;
}